@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap);

@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.content-div:hover {
    background-image: linear-gradient(to right, rgb(112,157, 255, 0.8), hsla(242, 74%, 61%, 0.8))!important;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-300%);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(10%);
        opacity: 1;
    }
}

.arrow-icon {
    animation: slideInFromLeft 1s ease-in-out infinite;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.paragraph-text {
    opacity: 0;
    animation: slideInFromRight 1s ease-out forwards;
}

@media (max-width: 1030px) {
    .arrow-icon {
        position: relative;
        top: 5px;
    }
}

@keyframes hover {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0);
    }
}

.insta {
    animation: hover 2s ease-in-out infinite;
}

.img {
    animation: hover 2s ease-in-out infinite;
}

@layer components {
    .border-animation {
      position: relative;
      overflow: hidden;
    }
    .border-animation::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background: #D53F8C; /* pink-300 */
      transition: all 0.3s;
    }
    .border-animation:hover::after {
      left: 0;
      width: 100%;
    }
  }

  @layer components {
    .dim {
      opacity: 0.5 !important;
      transition: opacity 0.3s;
    }
  }
